/experiments/object_detection/runs/
/experiments/object_detection/images/
*.pt
/.idea/.gitignore
/.idea/aws.xml
/.idea/encodings.xml
/.idea/food-pairing.iml
/main.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/experiments/object_detection/result/
*.cache
*.pth
/experiments/ocr/dataset/2023*
/experiments/ocr/deep-text-recognition-benchmark/saved_models/
/experiments/ocr/deep-text-recognition-benchmark/demo_image/
/experiments/ocr/deep-text-recognition-benchmark/figures/
/experiments/ocr/deep-text-recognition-benchmark/lmdb/
/.idea/
